---
name: build
on:
  pull_request:
  push:
    branches:
    - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        submodules: true
    - uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - uses: devcontainers/ci@v0.3
      with:
        imageName: ghcr.io/ferronn-dev/ferronnizer-devcontainer
        refFilterForPush: refs/heads/main
        runCmd: pre-commit run -a
    - uses: docker/setup-buildx-action@v3
    - name: Cache Docker layers
      uses: actions/cache@v4
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-
    - name: Build and run addonmaker
      run: sh addonmaker/run.sh ${{ ((github.event_name == 'push' && github.ref == 'refs/heads/main') || github.event_name == 'workflow_dispatch' || github.event_name == 'schedule') && 'release' || 'build' }} ${{secrets.GITHUB_TOKEN}}
      env:
        ADDONMAKER_BUILDCACHE: /tmp/.buildx-cache
